/* version 1.0.4 */
ul {
   margin: 10px;
}

li {
   list-style: none;
   margin-top: 5px;
   display: block
}

ul li::before {
   content: "C:\\Mesure> ";
   font-weight: 600;
}

li:hover {
   color: #6969e9;
   text-decoration: underline;
   cursor: pointer;
}
